spring:
  application:
    name: todarch-td
  profiles:
    active: dev
  datasource:
    url: "${JDBC_DATABASE_URL}"
    username: "${JDBC_DATABASE_USERNAME}"
    password: "${JDBC_DATABASE_PASSWORD}"
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: "${spring.flyway.schemas}"
        jdbc.lob.non_contextual_creation: true # fixes clob creation exception
  flyway:
    schemas: todarch

info:
  app:
    build:
      registry: "https://hub.docker.com/r/todarch/td/tags?page=1&ordering=last_updated"
      image: "${IMAGE}"
      pipeline: "https://circleci.com/workflow-run/${WORKFLOW_ID}"
      repo: "https://github.com/${COMMIT_USER}/${COMMIT_REPO}/commit/${COMMIT_HASH}"

keycloak:
  realm: todarch
  #  realmKey: MIIBIjANBgkqh[etc...]?
  auth-server-url: ${AUTH_SERVER_URL}
  public-client: true
  resource: todarch-app
  bearer-only: true
  ssl-required: none
  security-constraints:
    - authRoles:
        - user
      securityCollections:
        - patterns:
            - /api/*

