version: 2

references:

  container_config: &container_config
    docker:
    - image: circleci/openjdk:11-jdk
    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

  restore_repo: &restore_repo
    restore_cache:
      keys:
      - v1-repo-{{ .Branch }}-{{ .Revision }}
      - v1-repo-{{ .Branch }}
      - v1-repo

  jars_cache_key: &jars_cache_key
    v1-dependencies-{{ checksum "pom.xml" }}
  jars_backup_cache_key: &jars_backup_cache_key
    v1-dependencies

  restore_jars: &restore_jars
    restore_cache:
      keys:
      - *jars_cache_key
      - *jars_backup_cache_key

jobs:
  checkout_code:
    <<: *container_config
    steps:
    - *restore_repo
    - checkout
    - save_cache:
        key: v1-repo-{{ .Branch }}-{{ .Revision }}
        paths:
          - .

  build:
    <<: *container_config
    steps:
    - *restore_repo
    - *restore_jars
    - run: mvn -B -DskipTests clean package
    - save_cache:
        key: *jars_cache_key
        paths:
        - ~/.m2

  test:
    <<: *container_config
    steps:
    - *restore_repo
    - *restore_jars
    - run: mvn test
    - store_test_results:
        path: target/surefire-reports

  publish_docker_image:
    <<: *container_config
    steps:
    - *restore_repo
    - *restore_jars
    - run: cp .mvn/wrapper/settings.xml ~/.m2/settings.xml
    - run: echo "<settingsSecurity><master>${maven_security_master}</master></settingsSecurity>" > ~/.m2/settings-security.xml
    - run:
        name: Publish Docker image with Jib
        command: |
          ./mvnw compile jib:build -B -DskipTests=true \
            -Dbuild.number=${CIRCLE_BUILD_NUM} \
            -Dproject.version=${CIRCLE_PROJECT_REPONAME} \
            -Dcommit.hash=${CIRCLE_SHA1} \
            -Dcircle.workflow.guid=${CIRCLE_WORKFLOW_ID} \
            -Dbuild.user=${CIRCLE_PROJECT_USERNAME} \
            -Dbuild.repo=${CIRCLE_PROJECT_REPONAME}

  deploy:
    steps:
      run: echo "Deploying todarch/td:${CIRCLE_PROJECT_REPONAME}-${CIRCLE_BUILD_NUM}"


workflows:
  version: 2

  build_test_deploy:
    jobs:
    - checkout_code
    - build:
        requires:
        - checkout_code
    - test:
        requires:
        - build
    - publish_docker_image:
        requires:
        - test
    - deploy:
        requires:
        - publist_docker_image
