version: 2

jobs:
  build:
    docker:
    - image: circleci/openjdk:11-jdk

    working_directory: ~/repo

    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "pom.xml" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run: mvn dependency:go-offline

    - save_cache:
        paths:
        - ~/.m2
        key: v1-dependencies-{{ checksum "pom.xml" }}

    - run: mvn -B -DskipTests clean package

  test: # The job has no executor type specified. The job should have one of the following keys specified: "macos", "machine", "docker"
    docker:
    - image: circleci/openjdk:11-jdk

    working_directory: ~/repo

    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "pom.xml" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run: mvn dependency:go-offline

    - save_cache:
        paths:
        - ~/.m2
        key: v1-dependencies-{{ checksum "pom.xml" }}

    - run: mvn test

    - store_test_results:
        path: target/surefire-reports


#    - run: cp .mvn/wrapper/settings.xml ~/.m2/settings.xml
#    - run: echo "<settingsSecurity><master>${maven_security_master}</master></settingsSecurity>" > ~/.m2/settings-security.xml
#    - run:
#        name: Publish Docker image with Jib
#        command: |
#          ./mvnw compile jib:build -B -DskipTests=true \
#            -Dbuild.number=${CIRCLE_BUILD_NUM} \
#            -Dcommit.hash=${CIRCLE_SHA1} \
#            -Dcircle.workflow.guid=${CIRCLE_WORKFLOW_ID} \
#            -Dbuild.user=${CIRCLE_PROJECT_USERNAME} \
#            -Dbuild.repo=${CIRCLE_PROJECT_REPONAME}

workflows:
  version: 2

  mworkflow:
    jobs:
      - build
      - test:
          requires:
            - build
